# Arquivos de sistema e editores
*.class
*.log
*.pyc
*.swp
.DS_Store
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Arquivos gerados pelo Flutter e Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Arquivos de build específicos das plataformas
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework

# Arquivos de log e cobertura de testes
coverage/

# Arquivos de ofuscação e símbolos de depuração
*.map.json
*.symbols

# Arquivos específicos do projeto a serem ignorados
logica do app.txt
app_localizations_manual.dart

# Ignorar o arquivo pubspec.lock é uma má prática para aplicativos.
# No entanto, para pacotes de biblioteca, é recomendado.
# https://dart.dev/tools/pub/glossary#lockfile
#
# O arquivo pubspec.lock garante que todos na equipe usem as mesmas versões
# de dependências. Ele NÃO deve ser ignorado em um projeto de aplicativo.
# pubspec.lock
